files/extra/sql_queries.sql
files/extra/embed_dict_example.py
files/extra/c2 Modes.csv
files/extra/button_styles.png
files/extra/Average OPM - SPM per roomsize.ods
files/extra/all-time leaderboards/activity.ods
files/cultris - Copy.db
files/fullCultris.db
test.py
.env
leaderboardcalc.py
*.pyc
*.txt
files/settings.json
*.png
files/cultrisTest.db
files/elo.db
files/extra/achievements.csv
*.csv
activity.py
databasePlaceWriter.py
*.ods
files/extra/powerperroomsize.py
*.csv#
glicko.py
